<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <meta name="description" content="Django sample" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/static/style.css" title="style" />
</head>
<body>
  <div id="main">
    {% include "header.html" %} 
    <div id="site_content">
      <div class="sidebar">
        {% include "sidebar.html" %}
      </div>
      <div id="content">
        <form method="post" action="register" >
    		  <table>
      			<tr>
      				<td>Username</td>
      				<td><input type="text" name="username"/></td>
      			</tr>
      			<tr>
      				<td>Password</td>
      				<td><input type="password" name="password"/></td>
      			</tr>
      			<tr>
      				<td>First Name</td>
      				<td><input type="text" name="fname"/></td>
      			</tr>
      			<tr>
      				<td>Last Name</td>
      				<td><input type="text" name="lname"/></td>
      			</tr>
      			<tr>
      				<td>Salary</td>
      				<td><input type="text" name="salary"/></td>
      			</tr>
     		  </table>
   			  <button type="submit">Register</button>
   	    </form>
		  </div>
    </div>
    {% include "footer.html" %} 
  </div>
</body>
</html>